body {
    background-image: linear-gradient(#3d3d3d, #151515);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
section,
footer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

header {
    margin-top: 50px;
    margin-bottom: 25px;
}

.break-line {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(#d56001, #fd9b34);
    box-shadow: -5px 4px;
}


/* header */

.hd-main {
    display: flex;
}

.hd-name {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: white;
    margin: 10px 10px;
    margin-bottom: 25px;
    width: 75%;
}

.hd-name h1 {
    font-size: 2.5rem;
    text-shadow: 5px 0 0 black, -5px 0 0 black, 0 5px 0 black, 0 -5px 0 black, 5px 5px black, -5px -5px 0 black, 5px -5px 0 black, -5px 5px 0 black, 10px 10px 0 rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
    padding: 0px 20px;
}

.hd-name i {
    margin: 0px 20px;
}

.hd-contact {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.hd-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* Presentation */

.presentation {
    width: 50%;
    padding: 50px 50px 20px;
}

.pr-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}

.pr-main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
}

.pr-main-photo {
    display: flex;
    width: 22%;
    height: 100%;
    padding: 8px;
}

.pr-main-photo img {
    width: 100%;
}

.pr-main-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.pr-main-contact p {
    color: white;
    margin-bottom: 0.5em;
}

.pr-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 0.9rem;
    padding: 15px;
}

.pr-text p {
    width: 90%;
}


/* Game~Web Dev */

.gd-slide-content,
.wd-slide-content {
    display: flex;
}

.slide-content-info {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 10px;
}

.content-game-info,
.content-web-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 10px;
    width: 30%;
}

.content-game-info h3,
.content-web-info h3 {
    margin: 0px 5px 10px;
}

.content-game-info label,
.content-web-info label {
    font-size: 0.9rem;
    text-align: left;
    margin: 15px 5px;
}

.game-info-tools,
.web-info-tools {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 25px 5px;
}

.game-info-tools__icons,
.web-info-tools__icons {
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap;
    width: 100%;
    margin: 10px 5px;
}

.content-web-info .web-info-year {
    margin-top: 0px;
}

.game-info-image,
.web-info-image {
    height: 300px;
    margin: 20px 10px;
    border: 5px solid black;
    box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.2);
}


/* Game Dev - Image*/

.content-game-image {
    position: relative;
    display: flex;
}

.game-info-background {
    position: relative;
    width: 320px;
    height: 340px;
    transition: 0.4s;
}

.content-game-image:hover .game-info-image {
    filter: blur(2px);
}

.content-game-image:hover .play-button {
    display: inline-block;
}

.content-game-image:hover .alpha-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 20px 10px;
}

.play-button {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: none;
}


/* Skills */

.sk-container {
    display: flex;
    margin: 30px;
    padding: 10px 30px;
}

.sk-container img {
    margin: 5px 30px;
    max-height: 100px;
}

.sk-container-group {
    width: 20%;
    height: 100%;
}

.sk-group-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sk-container-group h5 {
    text-align: center;
    padding: 10px;
}

.sk-container img.sk-icon,
.sk-icon {
    font-size: 50px;
    margin: 10px 30px;
    padding: 0px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
}


/* Contact */

.ct-container {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.ct-container-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.ct-group-content {
    margin: 10px 0px;
    display: flex;
}

.ct-group-content label {
    margin: 12px;
}

.ct-group-content a {
    color: white;
}

.ct-group-content__curriculum {
    margin-left: 30px;
}


/* Credits */

.credits {
    color: white;
    text-align: center;
    font-size: 10px;
}

.credits a {
    color: orange;
}