.nes-container.is-dark {
    background-color: #00000000;
}

.nes-container.is-dark::after {
    background-color: #00000000;
}

.game-dev .nes-container.is-dark.with-title>.title {
    background-color: #2D2D2D;
}

.web-dev .nes-container.is-dark.with-title>.title {
    background-color: #242424;
}

.nes-container.with-title>.title {
    margin: -2.25rem 0 1rem;
}

.skills .nes-container.is-dark.with-title>.title,
.contact .nes-container.is-dark.with-title>.title {
    background-color: #191919;
}

.nes-btn {
    padding: 2px 20px;
    font-size: 0.85rem;
    border-image-width: 1.5;
}

.nes-btn::after {
    right: -6px;
    bottom: -6px;
}

.nes-btn {
    transition: transform 0.2s
}

.nes-icon {
    transform-origin: left top;
}

.nes-icon .gmail {
    margin-top: 6px;
}

.nes-icon .whatsapp {
    margin-top: 3px;
}

.with-title p {
    font-size: 1.25rem;
}

@media (max-width: 1000px) {
    .with-title p {
        font-size: 1.5rem;
    }
}